.stats_card {
  display: flex;
  max-height: 540px;
  max-width: 1110px;
  border-radius: 8px;
  background-color: #1b1937;
}

.stats_content {
  padding: 95px;
}

.stats_card.stats_content {
  order: 2;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  margin-bottom: 25px;
}

.title span {
  color: #ab5cdb;
}
