.stats_card {
  display: flex;
  max-height: 540px;
  max-width: 1110px;
  border-radius: 8px;
  background-color: #1b1937;
  overflow: hidden;
}

.stats_content {
  padding: 80px;
  order: 1;
}

.stats_content {
  order: 1;
}

.img_main {
  order: 2;
  width: 100%;
  height: 100%;
  border-radius: 8px 0px 0px 8px;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  margin-bottom: 25px;
  font-weight: 700;
}

.title span {
  color: #ab5cdb;
}

.description {
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.3rem;
  max-width: 374px;
}

.stats_header {
  margin-bottom: 72px;
  max-width: 403px;
}

.stats_container {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.figure {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.stat_name {
  font-size: 12px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.6);
}

.img_container {
  position: relative;
}

.img_overlay {
  position: absolute;
  background-color: #ab5cdb;
  opacity: 0.7511;
  width: 100%;
  height: 100%;
  z-index: 2;
  mix-blend-mode: multiply;
}
